@font-face {
  font-family: 'Circe Light';
  font-weight: normal;
  font-style: normal;  
  src: url('../fonts/circe/circe_300.eot');
  src: url('../fonts/circe/circe_300.eot?#iefix') format('embedded-opentype'),
  url('../fonts/circe/circe_300.woff2') format('woff2'),
  url('../fonts/circe/circe_300.woff') format('woff'), 
  url('../fonts/circe/circe_300.ttf') format('ttf'),   
  url('../fonts/circe/circe_300.svg') format('svg');  
}
@font-face {
  font-family: 'Circe Bold';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/circe/circe_600.eot');
  src: url('../fonts/circe/circe_600.eot?#iefix') format('embedded-opentype'),
  url('../fonts/circe/circe_600.woff2') format('woff2'),
  url('../fonts/circe/circe_600.woff') format('woff'), 
  url('../fonts/circe/circe_600.ttf') format('ttf'),   
  url('../fonts/circe/circe_600.svg') format('svg');  
}
@font-face {
  font-family: 'Circe Extra Bold';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/circe/circe_700.eot');  
  src: url('../fonts/circe/circe_700.eot?#iefix') format('embedded-opentype'),
  url('../fonts/circe/circe_700.woff2') format('woff2'),
  url('../fonts/circe/circe_700.woff') format('woff'), 
  url('../fonts/circe/circe_700.ttf') format('ttf'),  
  url('../fonts/circe/circe_700.svg') format('svg'); 
}
@font-face {
  font-family: 'Circe';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/circe/circe.eot');
  src: url('../fonts/circe/circe.eot?#iefix') format('embedded-opentype'),  
  url('../fonts/circe/circe.woff') format('woff'), 
  url('../fonts/circe/circe.ttf') format('ttf'),  
  url('../fonts/circe/circe.svg') format('svg');  
}
@font-face {
  font-family: 'Geometria Medium';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/geometria/geometria_400.eot');
  src: url('../fonts/geometria/geometria_400.eot?#iefix') format('embedded-opentype'),  
  url('../fonts/geometria/geometria_400.woff') format('woff'), 
  url('../fonts/geometria/geometria_400.ttf') format('ttf'),   
  url('../fonts/geometria/geometria_400.svg') format('svg');  
}

